<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xuetu"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />
    <!-- 监听开机自启 -->

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
     <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 三方登录 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- renren sso Permission for Unit Test -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:name=".ui.XueTuApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 目前该方法具体的用于测试，记着把需要添加的页面加上 -->

        <activity
            android:name=".ui.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 三方添加开始********* -->
        <!-- 友盟AppKey， 需要替换成你自己的 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="4eaee02c527015373b000003" >
        </meta-data>
        <!-- 腾讯SSO授权的Activity注册 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" >
        </meta-data>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 三方结束******** -->
        <activity
            android:name=".ui.MainActivity"
            android:label="首页"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ui.TimerActivity"
            android:label="@string/title_activity_timer" >
        </activity>
        <activity
            android:name=".ui.RegisterActivity"
            android:label="注册" >
        </activity>
        <activity
            android:name=".ui.FindTaskListActivity"
            android:label="@string/title_activity_find_task_list" >
        </activity>
        <activity
            android:name=".ui.CourseActivity"
            android:label="课程表" >
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name=".ui.FindTaskItemActivity"
            android:label="@string/title_activity_find_task_item" >
        </activity>
        <activity
            android:name=".ui.ForgetPwdActivity"
            android:label="@string/title_activity_forget_pwd" >
        </activity>
        <activity android:name=".ui.Question_ask" >
        </activity>
        <activity
            android:name=".ui.PerCerter"
            android:label="我的中心" >
        </activity>
        <activity
            android:name=".ui.PersonInfomationActivity"
            android:label="@string/title_activity_person_infomation" >
        </activity>
        <activity
            android:name=".PersonInfoActivity"
            android:label="@string/title_activity_person_info" >
        </activity>
        <activity
            android:name=".ui.EditNameActivity"
            android:label="@string/title_activity_edit_name" >
        </activity>
        <activity
            android:name=".ui.AddSelfPlanActivity"
            android:label="@string/title_activity_add_self_plan" >
        </activity>
        <activity android:name=".ui.Answer_list" >
        </activity>
        <activity
            android:name=".ui.ChangeAgeActivity"
            android:label="@string/title_activity_change_age" >
        </activity>
        <activity
            android:name=".ui.ChangeGradeActivity"
            android:label="@string/title_activity_change_grade" >
        </activity>
        <activity
            android:name=".ui.ChangeSchoolActivity"
            android:label="@string/title_activity_change_school" >
        </activity>
        <activity
            android:name=".ui.SaveYouHuiJuanActivity"
            android:label="@string/title_activity_save_you_hui_juan" >
        </activity>
        <activity android:name=".TheCollectionOfYouHuiJuanActivity" >
        </activity>
        <activity
            android:name=".ui.TheCollectionOfYouHuiJuanActivity"
            android:label="@string/title_activity_the_collection_of_you_hui_juan" >
        </activity>
        <activity
            android:name=".ui.CouponActivity"
            android:label="@string/title_activity_coupon" >
        </activity>
        <activity
            android:name=".ui.ShowCouponActivity"
            android:label="@string/title_activity_show_coupon" >
        </activity>
        <activity
            android:name=".ui.StoneNameActivity"
            android:label="@string/title_activity_stone_name" >
        </activity>
        <activity android:name=".ui.CouponInfoActivity" />
        <activity
            android:name=".ui.ExchangeCouponActivity"
            android:label="@string/title_activity_exchange_coupon" />
        <activity
            android:name=".ui.YouHuiJuanInfomationActivity"
            android:label="@string/title_activity_you_hui_juan_infomation" >
        </activity>
        <activity
            android:name=".ui.WoDeShouCangActivity"
            android:label="@string/title_activity_wo_de_shou_cang" >
        </activity>
        <activity
            android:name=".ui.LearingRecordActivity"
            android:label="@string/title_activity_learing_record" >
        </activity>
        <activity
            android:name=".ui.PaiHangBangActivity"
            android:label="@string/title_activity_pai_hang_bang" >
        </activity>
        <activity
            android:name=".ui.EditSignerActivity"
            android:label="@string/title_activity_edit_signer" >
        </activity>
        <activity
            android:name=".ShareActivity"
            android:label="@string/title_activity_share" >
        </activity>
        <activity android:name=".ui.AlarmZaoShang" >
        </activity>
        <activity android:name="com.xuetu.ui.AlarmZaoqi" >
        </activity>
        <activity android:name="com.xuetu.ui.AddAlarm" >
        </activity>
        <activity
            android:name=".ui.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name=".ui.PointliShiActivity"
            android:label="@string/title_activity_pointli_shi" >
        </activity>
        <activity
            android:name=".PersonalQuestionCollectionActivity"
            android:label="@string/title_activity_personal_question_collection" >
        </activity>
        <activity
            android:name=".PersonQuestionInformationActivity"
            android:label="@string/title_activity_person_question_information" >
        </activity>
        <activity
            android:name=".JiFenXiangQingActivity"
            android:label="@string/title_activity_ji_fen_xiang_qing" >
        </activity>

        <receiver
            android:name="com.xuetu.ui.AlarmBroadcastReceiver"
            android:process=":remote" />
        <receiver android:name=".BootBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service android:name="com.xuetu.services.MyServices"></service>
    </application>

</manifest>