<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xuetu"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ui.XueTuApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 目前该方法具体的用于测试，记着把需要添加的页面加上 -->

        <activity
            android:name=".ui.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="首页"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ui.TimerActivity"
            android:label="@string/title_activity_timer" >
        </activity>
        <activity
            android:name=".ui.FindTaskListActivity"
            android:label="@string/title_activity_find_task_list" >
        </activity>
        <activity
            android:name=".ui.CourseActivity"
            android:label="课程表" >
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".ui.FindTaskItemActivity"
            android:label="@string/title_activity_find_task_item" >
        </activity>
        <activity
            android:name=".ui.ForgetPwdActivity"
            android:label="@string/title_activity_forget_pwd" >
        </activity>
        <activity android:name=".ui.Question_ask" >
        </activity>
        <activity
            android:name=".ui.PerCerter"
            android:label="我的中心" >
        </activity>
        <activity
            android:name=".ui.PersonInfomationActivity"
            android:label="@string/title_activity_person_infomation" >
        </activity>
        <activity
            android:name=".PersonInfoActivity"
            android:label="@string/title_activity_person_info" >
        </activity>
        <activity
            android:name=".ui.EditNameActivity"
            android:label="@string/title_activity_edit_name" >
        </activity>
        <activity
            android:name=".ui.AddSelfPlanActivity"
            android:label="@string/title_activity_add_self_plan" >
        </activity>
        <activity android:name=".ui.Answer_list" >
        </activity>
        <activity
            android:name=".ui.ChangeAgeActivity"
            android:label="@string/title_activity_change_age" >
        </activity>
        <activity
            android:name=".ui.ChangeGradeActivity"
            android:label="@string/title_activity_change_grade" >
        </activity>
        <activity
            android:name=".ui.ChangeSchoolActivity"
            android:label="@string/title_activity_change_school" >
        </activity>
        <activity
            android:name=".ui.SaveYouHuiJuanActivity"
            android:label="@string/title_activity_save_you_hui_juan" >
        </activity>
        <activity
            android:name=".TheCollectionOfYouHuiJuanActivity"
            android:label="@string/title_activity_the_collection_of_you_hui_juan" >
        </activity>
        <activity
            android:name=".ui.ShowCouponActivity"
            android:label="@string/title_activity_show_coupon" >
        </activity>
        <activity
            android:name="com.xuetu.ui.StoneNameActivity"
            android:label="@string/title_activity_stone_name" >
        </activity>
    </application>

</manifest>